<h1>Posts view index</h1>

<div class="show-container">
    <div class="user-info-posts">
        <img src="<%= @user.photo %>">
            <div class="show-text-user">
                <h1><%= @user[:name] %></h1>
                <p class="show-posts-users">Number of posts: <%= @user.posts_counter.nil? ? 0 : @user.posts_counter%>
            </div>
        </div>
        <div class="post-list-posts">
            <% @posts.each do |post| %>
                <div class="post-container">
                    <div class="post-info">
                        <h1><%= post.title %></h1>
                        <p><%= post.text %></p>
                        <div>
                            <p>Likes: <%= post.likes_counter %><p>
                            <p>Comments: <%= post.comments_counter %><p>
                        </div>
                    </div>
                    <div class="comments-index-posts">
                        <% post.comments.each do |comment| %>
                            <div class="comment-container">
                                <p><%= User.find(comment.user_id).name %></p>
                                <p><%= comment.text %></p>
                                <p><%= comment.class.superclass %></p>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>

    </div>
